<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/public/css/add-card.css">
    </head>

    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between" >
                <ul class="navbar-nav justify-content-lg-start" id="navbar-item-list">
                  <a class="navbar-brand" href="/">
                    <img src="./public/img/logoo.png" width="40" height="40" class="d-inline-block align-center" alt="">
                    
                  </a> 
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/addProject">Add Project</a>
                  </li>
                </ul>
    
                <button type="button" class="btn btn-secondary justify-content-end"> <a href="/contact" style="text-decoration: none; color:white">Contact Me</a></button>
            </nav>
        </div>
        <div class="addProject">
            <form action="/add-card" method="POST" >
                <h1>ADD MY PROJECT</h1>
                <div>
                    <label for="input-title">Project Name</label>
                    <input type="text" name="inputTitle" id="inputTitle">
                </div>
                <!-- <div class="date">
                    <div>
                    <label for="input-start-date">Start Date</label> 
                    <input type="date" id="start-date"  >
                    </div>
                    <div>
                        <label for="input-end-date">End Date</label> 
                        <input type="date" id="end-date" >
                    </div>
                </div> -->
                
                <div>
                    <label for="input-content">Content</label>
                    <textarea name="inputContent" id="inputContent" cols="60" rows="5"></textarea>
                </div>
                <!-- <div class="technologies">
                    <label for="input-technologies">Technologies</label><br>
                    <input type="checkbox" nama="teknologi 1"  value="Node JS"> Node JS
                    <input type="checkbox" nama="teknologi 2"  value="React JS"> React JS <br>  
                    <input type="checkbox" nama="teknologi 3"  value="Next JS"> Next JS
                    <input type="checkbox" nama="teknologi 4"  value="python"> Python
                </div> -->
                <div>
                    <label for="input-image">Upload Image</label>
                    <input type="file" id="input-image">
                </div>
                <div class="tombol">
                    <button>Add Project</button>
                </div>
            </form>
        </div>
    </body>
</html>