<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="public/css/addProject.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    </head>

    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between" >
                <ul class="navbar-nav justify-content-lg-start" id="navbar-item-list">
                  <a class="navbar-brand" href="/">
                    <img src="./public/img/logoo.png" width="40" height="40" class="d-inline-block align-center" alt="">
                    
                  </a> 
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/addProject">Add Project</a>
                  </li>
                </ul>
    
                <button type="button" class="btn btn-secondary justify-content-end"> <a href="/contact" style="text-decoration: none; color:white">Contact Me</a></button>
            </nav>
        </div>
        <div class="addProject">
            <form>
                <h1>ADD MY PROJECT</h1>
                <div>
                    <label for="input-name">Project Name</label>
                    <input type="text" id="input-name">
                </div>
                <!-- <div class="date">
                    <div>
                    <label for="input-start-date">Start Date</label> 
                    <input type="date" id="start-date"  >
                    </div>
                    <div>
                        <label for="input-end-date">End Date</label> 
                        <input type="date" id="end-date" >
                    </div>
                </div> -->
                
                <div>
                    <label for="input-message">Content</label>
                    <textarea name="" id="input-message" cols="60" rows="5"></textarea>
                </div>
                <!-- <div class="technologies">
                    <label for="input-technologies">Technologies</label><br>
                    <input type="checkbox" nama="teknologi 1"  value="Node JS"> Node JS
                    <input type="checkbox" nama="teknologi 2"  value="React JS"> React JS <br>  
                    <input type="checkbox" nama="teknologi 3"  value="Next JS"> Next JS
                    <input type="checkbox" nama="teknologi 4"  value="python"> Python
                </div> -->
                <div>
                    <label for="input-image">Upload Image</label>
                    <input type="file" id="input-image">
                </div>
                <div class="tombol">
                    <button type="button" onclick="addBlog(event); this.reset(); return false"> Submit</button>
                </div>
            </form>
        </div>

        <div id="contents" class="card-list" >
            <div class="card">
             <div class="card-image">
                <img src="./public/img/profil.jpg" alt="">
            </div>
            <div class="card-content"> 
                 <div class="input-name">
                    <h3>
                        <a href="/card-detail/0" style="color:black ;" target="_blank">
                            Web Progammer merupakan profesi benefit di masa depan
                        </a>
                    </h3>
                </div>
                <div class="card-detail-content">
                    12 juil 2022 22:30 WIB | Ichsan Nur Jamal
                </div>

               

                <div class="input-message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nam provident porro. Recusandae ab veniam dolores? Eum, similique natus delectus debitis incidunt animi fugit magnam, nulla atque quos at id.</p>
                </div>

            

                <div class="btn-group">
                    <button class="btn-edit"> Edit Post</button>
                    <button class="btn-post"> Post Blog</button>
                </div>
            </div> 
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

    <script src="public/js/blog.js"></script>
</html>