<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="public/css/cardDetail.css">
        <link rel="stylesheet" href="../public/css/nav.css">
    </head>

    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between" >
                <ul class="navbar-nav justify-content-lg-start" id="navbar-item-list">
                  <a class="navbar-brand" href="/">
                    <img src="/public/img/logoo.png" width="40" height="40" class="d-inline-block align-center" alt="">
                    
                  </a> 
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/addProject">Add Project</a>
                  </li>
                </ul>
    
                <div>
                    <div class="nav-right">
                        {{if .Data.IsLogin}}
                        <a href="" class="nav-link">Hello, {{.Data.UserName}}</a>
                        <a href="/logout" class="nav-link list-active">Logout</a>
                        {{else}}
                        <a href="/form-register" class="nav-link">Register</a>
                        <a href="/form-login" class="nav-link">Login</a>
                        {{end}}
                        <a href="/contact" class="contact">Contact</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="card">
            <div class="card-content">
                <div>
                    <h1>
            
                            {{.Card.Name}}
                    </h1>
                </div>
                <div class="card-detail-content">
                 {{.Card.Author}}
                </div>

                <div class="date">
                    <div>
                        <label for="input-start-date">Start Date :</label> 
                        {{.Card.Format_Sdate}}
                    </div>
                    <div>
                        <label for="input-end-date">End Date :</label> 
                        {{.Card.Format_Edate}}
                    </div>
                    
                </div>

                <div>
                    Duration : {{.Card.Duration}}
                </div>

                <div class="card-image">
                    <img src="/public/img/profil.jpg" alt="">

                </div>

                <div class="card-desc">
                    <p>{{.Card.Description}}</p>
                </div>

                <div class="technologies">
                    {{if eq (index .Card.Technologies 0) "checked"}}
                    <img src="../public/img/node.jpg" alt="nodejs" style="height: 30px; width:30px ;" >
                    {{end}}
                    {{if eq (index .Card.Technologies 1) "checked"}}
                    <img src="../public/img/reactjs.jpg" alt="reactjs" style="height: 30px; width:30px ;" >
                    {{end}}
                    {{if eq (index .Card.Technologies 2) "checked"}}
                    <img src="../public/img/nextjs.jpg" alt="nextjs"  style="height: 30px; width:30px" >
                    {{end}}
                    {{if eq (index .Card.Technologies 3) "checked"}}
                    <img src="../public/img/phyton.jpg" alt="typescript" style="height: 30px; width:30px" >
                    {{end}}
                </div>

            </div>   
        </div>
    </body>
</html>