<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/nav.css">
    <title>{{.Title}}</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <ul>
                <li><a href="/"><img src="../public/img/logoo.png" /></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/addProject">addProject</a></li>
            </ul>
        </div>
        <div>
            <div class="nav-right">
                {{if .IsLogin}}
                <a href="" class="nav-link">Hello, {{.UserName}}</a>
                <a href="/logout" class="nav-link list-active">Logout</a>
                {{else}}
                <a href="/form-register" class="nav-link">Register</a>
                <a href="/form-login" class="nav-link">Login</a>
                {{end}}
                <a href="/contact" class="contact">Contact</a>
            </div>
        </div>
    </nav>

    {{if .FlashData}}
    <div class="alert alert-success" role="alert">
        <strong>{{ .FlashData}}</strong>

    </div>
    {{end}}

    <div class="profil">
      <div class="card-left">
          <h1>Hi Welcome to my hut</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit modi impedit consectetur id praesentium vel vitae pariatur, ut soluta sed sint perferendis delectus optio voluptas quidem rerum quos! Saepe magni veniam explicabo alias exercitationem. Quisquam consectetur, accusantium vel velit laudantium officiis sed in est ipsum minima, recusandae cumque eum. Atque quos consequatur aliquam! Fugiat earum praesentium iusto modi ad debitis cumque illum? Excepturi possimus iure incidunt id reiciendis rem repellat!</p>

          <div class="link">
              <a href="contact.html" style="text-decoration:none ; color:black">Contact</a> 
              download CV <i class="fa sharp fa-solid fa-download"></i>
          </div>
  
          <div class="medsos">
              <button><i class="fa brands fa-linkedin"></i></button>
              <button><i class="fa brands fa-instagram"></i></button>
              <button><i class="fa brands fa-facebook"></i></button>
              <button><i class="fa brands fa-twitter"></i></button>
          </div>

      </div>


      <div class="card-right">
          <div>
              <img src="./public/img/profil.jpg" alt="">
          </div>

          <div class="titel">
              <h3>Khoirul Anam Irfanudin</h3>
              <p>Fullstack Developer</p>
          </div>
      </div>
     </div>

    
        

     </div>
    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<!-- <script src="blog.js"></script> -->
</html>