body{
    margin: 0;
}

.card{
    display: contents;
    margin: 30px;
    justify-content: center;
    
}

.card img {
    width: 400px;
}

.card-content{
    margin: 10px;
    text-align: justify;
}