*{
    text-decoration: none;

}

body{
    margin: 0;
    background-color: aliceblue;
    
}

.container-fluid {
    height: 92vh;
}

.container-form {
    width: 500px;
}



form div {
    margin: 15px;
    margin-top: 10px;
    
}

label {
    font-weight: bold;
    font-size: 20px;
}

form input{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
} 

h1{
    text-align: center;
}

button {
    float: right;
    background-color: black;
    color: #ffffff;
    padding: 6px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

h3{
    text-align: center;
}


